.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}
.link-part ul{
    list-style: none;
    display: flex;
}
.link-part ul li{
    margin-right: 20px;
}
.link-part ul li a{
    text-decoration: none;
    color: azure;
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}
.link-part ul li :hover{
    transform: scale(1.2);
}
body{
    font-size: 20px;
    margin: 0;
    padding: 2px;
    min-height: 100vh;
    background: linear-gradient(45deg, #568203, #9ACD);
}
.intro h2{
    text-align: center;
}
main{
    min-height: 75vh;
}
.footer img{
    width: 20px;
    justify-content: baseline;
}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.text{
    height: auto;
    width: ;
}
.logo-part img{
    width: 150px;
}
